<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="css/forms.css" />
    
    <link rel="shortcut icon" href="img/iconReg.svg">

    <title>Registro Aula</title>
</head>
<body>

    <div class="cont-box">
        <div class="form-box">
            <p class="title"> REGISTRO DE</p>
            <p class="subtitle"> AULA/EDIFICIO</p>

            <div class="line"></div>

            <form class="form" action="registerAula" method="POST">
                <label>Nombre Edificio</label>
                <input type="search" name="id_edificio" id="id_edificio" placeholder="Nombre del Edificio"/>

                <label>Numero de Aula</label>
                <input type="number" name="num_aula" id="num_aula" max="9" min="1" placeholder="Numero de Aula"/>

                <div class="buttons">
                    <a href="/dashboard" type="reset" alt="Cancelar" class="btnCancel" title="Cancelar">
                        Cancelar
                    </a> 
                    <button type="submit" alt="Agregar" class="btnAdd" title="Agregar">
                        Registrar
                    </button>
                </div>
            </form>

            <div class="grid">
                <% edif.forEach((edif) => { %>
                    <div class="box-sq">
                        <i class='bx bxs-school'></i>
                        <p class="title-g">Edificio: <%= edif.id_edificio %> </p>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    
</body>
</html>