<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="css/forms.css" />

    <link rel="shortcut icon" href="img/iconReg.svg">

    <title>Registro Carrera</title>
</head>
<body>

    <div class="cont-box">
        <div class="form-box">
            <p class="title"> REGISTRO DE</p>
            <p class="subtitle"> CARRERA</p>

            <div class="line"></div>

            <form class="form">
                <label>Nombre</label>
                <input type="search" name="nombre" id="nombre" placeholder="Nombre de la Carrera" required/>

                <label>Semestre</label>
                <input type="number" name="semestre" id="semestre" max="9" min="1" placeholder="Cantidad de Semestres" required/>

                <div class="buttons">
                    <button type="submit" alt="Registrar" class="btnAdd" title="Registrar">
                        Registrar
                    </button>
                </div>
            </form>

            <div class="grid">
                <% for (var i =1; i <=8;  i++ ) { %>
                    <div class="box-sq">
                        <i class='bx bxl-trello'></i>
                        <p class="title-g">Nombre</p>
                        <p class="subtitle-g">Semestre(s) </p>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>