<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="css/forms.css" />

    <link rel="shortcut icon" href="img/iconReg.svg">

    <title>Registro Carrera</title>
</head>
<body>

    <div class="cont-box">
        <div class="form-box">
            <p class="title"> REGISTRO DE</p>
            <p class="subtitle"> CARRERA</p>

            <div class="line"></div>

            <form class="form" action="registerCarrera" method="post">
                <label>Clave Carrera</label>
                <input type="search" name="id_carrera" id="id_carrera" placeholder="Clave de la Carrera" required/>

                <label>Nombre Carrera</label>
                <input type="search" name="nombre" id="nombre" placeholder="Nombre Carrera" required/>

                <div class="buttons">
                    <a href="/dashboard" type="reset" alt="Cancelar" class="btnCancel" title="Cancelar">
                        Cancelar
                    </a> 
                    <button type="submit" alt="Registrar" class="btnAdd" title="Registrar">
                        Registrar
                    </button>
                </div>
            </form>

            <div class="grid">
                <% results.forEach((carrera) => { %>
                    <div class="box-sq">
                        <i class='bx bxl-trello'></i>
                        <p class="title-g"> <%= carrera.nombre %> </p>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>