<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel='stylesheet' type='text/css' media='screen' href='css/horario.css'>
    
    <link rel="shortcut icon" href="img/iconReg.svg">

    <title>Registro Docente</title>
</head>
<body>

    <div class="cont-box">
        <div class="form-box">
            <h1 class="title">REGISTRO DE</h1>
            <h2 class="subtitle" >HORARIO</h2>

            <form class="form">
                <div class="cont-select">
                    <p class="tdos">DOCENTE</p>
                    <select class="docente" name="docente" id="docente">
                        <option disabled selected >Seleccione un Docente</option>
                    </select>
                </div>
                <div class="cont-select">
                    <p class="tturn">TURNO</p>
                    <select class="turno" name="turno" id="turno">
                        <option disabled selected >Seleccione Turno</option>
                        <option value="M">Matutino</option>
                        <option value="D">Despertino</option>
                    </select>
                </div>
                <button type="reset" alt="Cancelar" class="btnCancel" title="Cancelar">
                    Cancelar
                </button>
                <button type="submit" alt="Agregar" class="btnAdd" title="Agregar">
                    Registrar
                </button>
            </form>
        </div>

        <!-- TABLA DE REGISTROS -->

        <div class="table-box">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sabado</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i =1; i <=8;  i++ ) { %>
                        <tr>
                            <td> <%= 7 + i %> :00 - <%= 8 + i %> :00 </td>
                            <td> <a href="//" class="btnDelete"> <i class='bx bxs-plus-circle bx-flashing-hover'></i></a> </td>
                            <td> <a href="//" class="btnDelete"> <i class='bx bxs-plus-circle bx-flashing-hover'></i></a> </td>
                            <td> <a href="//" class="btnDelete"> <i class='bx bxs-plus-circle bx-flashing-hover'></i></a> </td>
                            <td> <a href="//" class="btnDelete"> <i class='bx bxs-plus-circle bx-flashing-hover'></i></a> </td>
                            <td> <a href="//" class="btnDelete"> <i class='bx bxs-plus-circle bx-flashing-hover'></i></a> </td>
                            <td> <a href="//" class="btnDelete"> <i class='bx bxs-plus-circle bx-flashing-hover'></i></a> </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>