<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel='stylesheet' type='text/css' media='screen' href='css/horario.css'>

    <link rel="shortcut icon" href="img/iconSchule.svg">

    <title>Registro Horario</title>
</head>
<body>

    <div class="cont-box">
        <div class="form-box">
            <h1 class="title">REGISTRO DE</h1>
            <h2 class="subtitle" >HORARIO</h2>

            <form class="form">
                <a href="/dashboard" type="button" alt="Cancelar" class="btnCancel" title="Cancelar">
                    Cancelar
                </a>
                <button id="btnAdd" type="submit" alt="Agregar" class="btnAdd" title="Agregar">
                    Registrar
                </button>
            </form>

            <!-- TABLA DE REGISTROS -->

            <div class="table-box">
                <table class="styled-table" id="schedule">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Horas</th>
                            <th>Materia</th>
                            <th>Aula</th>
                            <th>Docente</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                <select class="dia" name="dia" id="dia">
                                    <option disabled selected >Dia</option>
                                    <option value="Lunes">Lunes</option>
                                    <option value="Martes">Martes</option>
                                    <option value="Miercoles">Miercoles</option>
                                    <option value="Jueves">Jueves</option>
                                    <option value="Viernes">Viernes</option>
                                </select>
                            </td>
                            <td>
                                <input class="horas" type="text" name="horas" id="horas" placeholder="Hora">
                            </td>
                            <td>
                                <select name="materia" id="materia">
                                    <option disabled selected >Seleccione una Materia</option>
                                    <% materia.forEach((mat) => { %>
                                        <option> <%= mat.nombre %> </option>
                                    <% }); %>
                                </select>
                            </td>
                            <td>
                                <select class="short" name="aula" id="aula">
                                    <option disabled selected >Aula/Edificio</option>
                                    <% aula.forEach((au) => { %>
                                        <option> <%= au.id_edificio + '-' + au.num_aula %> </option>
                                    <% }); %>
                                </select>
                            </td>
                            <td>
                                <select name="docente" id="docente">
                                    <option disabled selected >Seleccione un Docente</option>
                                    <% docente.forEach((doc) => { %>
                                        <option> <%= doc.primer_nombre + ' ' + (doc.segundo_nombre == null ? '' : doc.segundo_nombre) + ' ' + doc.apellidop + ' ' + doc.apellidom %> </option>
                                    <% }); %>
                                </select>
                            </td>
                        </tr>
                </tbody>
                <tfoot>
                    <tr>
                      <td colspan="5" align="center">
                        <button class="addrow" id="agregar" alt="Agregar" title="Agregar">
                            <i class='bx bxs-plus-circle'></i>
                        </button>
                      </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="js/addrow.js"></script>
<script src="js/horario.js" ></script>
</html>