@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --lightGray: #e8e8e8;
  --black: #000000;
  --darkGray: #2c2c2c;
  --formColor: #efefef;
  --primaryColor: #0372b0;
  --secondColor: #e1edfc;
  --fullwidth: 100%;
}

body {
  background: var(--darkGray);
  height: 100vh;
}

.cont-box {
  position: absolute;
  width: 98%;
  height: 95%;
  top: 14px;
  left: 14px;
  border-radius: 5px;
  background: var(--white);
}

.cont-box .form-box .title,
.cont-box .form-box .subtitle {
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}

.cont-box .form-box .title {
  position: absolute;
  left: 20px;
  top: 15px;
}

.cont-box .form-box .subtitle {
  position: absolute;
  left: 20px;
  top: 45px;
  color: var(--primaryColor);
}

.cont-box .form-box .f-docent {
  position: absolute;
  width: 25%;
  top: 20%;
  left: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.cont-box .form-box .f-docent select {
  width: 80%;
  height: 30px;
  outline: none; 
  border: none;
	font-family: 'Poppins', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 5px;
}

.cont-box .form-box .f-docent button {
  vertical-align: middle;
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  border: none;
  color: var(--darkGray);
  background: transparent;
}

.cont-box .form-box .f-docent button:hover {
  color: var(--primaryColor);
}

.cont-box .form-box .f-mat {
  position: absolute;
  width: 25%;
  top: 40%;
  left: 20px;
}

.cont-box .form-box .f-mat label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-right: 5px;
}

.cont-box .form-box .f-mat .from,
.cont-box .form-box .f-mat .to {
  width: 35%;
  height: 30px;
  outline: none; 
  border: none;
  margin-top: 20px;
  margin-right: 10px;
	font-family: 'Poppins', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 5px;
}

.cont-box .form-box .f-mat select {
  width: 90%;
  height: 30px;
  outline: none; 
  border: none;
  margin-top: 20px;
	font-family: 'Poppins', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
  border-radius: 5px;
}

.cont-box .form-box .f-mat button {
  cursor: pointer;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  margin-left: 22%;
  background: var(--primaryColor);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.cont-box .form {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 20px;
}

.cont-box .form .btnAdd {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 160px;
  right: 20px;
  background: var(--primaryColor);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.cont-box .form .btnCancel {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 100px;
  left: 20px;
  background: #ec2d56;
  color: var(--white);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.cont-box .form-box .form .btnAdd:hover {
  background: var(--primaryColor);
  opacity: 0.8;
}

.cont-box .form-box .form .btnCancel:hover {
  background: #f05879;
}

.table-box {
  position: absolute;
  width: 70%;
  height: 90%;
  background: var(--white);
  color: var(--black);
  border-radius: 5px;
  top: 14px;
  right: 10px;
  overflow: auto;
}
.table-box::-webkit-scrollbar {
  -webkit-appearance: none;
}

.table-box::-webkit-scrollbar:vertical {
  width: 10px;
}

.table-box::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.table-box::-webkit-scrollbar:horizontal {
  height: 10px;
}

.table-box::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.table-box::-webkit-scrollbar-track {
  border-radius: 10px;
}

.table-box table {
  width: 97%;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
}

.styled-table {
  border: solid var(--lightGray) 1px;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.styled-table thead tr {
  background-color: var(--primaryColor);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.styled-table td a {
  font-size: 30px;
  color: var(--primaryColor);
}

.styled-table td:first-child,
.styled-table th:first-child {
  border-left: none;
}
.styled-table th:first-child {
  border-radius: 5px 0 0 0;
}
.styled-table th:last-child {
  border-radius: 0 5px 0 0;
}
.styled-table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
.styled-table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.styled-table .btnDelete .userDel {
  width: 20px;
  height: 20px;
}

.styled-table select,
.styled-table .horas {
  height: 35px;
  border: none;
  border-radius: 5px;
  outline-color: #b6b6b6;
  color: #2E2E2E;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  background: var(--formColor);
}

.styled-table .dia {
  width: 100px;
  
}

.styled-table .horas {
  width: 120px;
}

.styled-table .addrow {
  font-size: 30px;
  color: var(--darkGray);
  background-color: transparent;
  border: none;
}

.styled-table .addrow:hover {
  color: var(--primaryColor);
}
