
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
  --white: #FFFFFF;
  --lightGray: #E8E8E8;
  --black: #000000;
  --darkGray: #2C2C2C;
  --formColor: #F0F0F0;
  --primaryColor: #EC832D;
  --fullwidth: 100%;
}

body {
    background: var(--darkGray);
    height: 100vh;
}

h1 {
    position: relative;
    top: 40px;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.login-box {
    width: 320px;
    height: 460px;
    background: var(--white);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}
.login-box .avatar {
    width: 100px;
    height: 100px;
    position:  absolute;
    top: 10px;
    left: calc(50% - 50px);
}

.login-box h2 {
    margin: 0;
    padding: 0 0 20px;
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

.login-box form {
    width: 100%;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.login-box input {
    width: 80%;
    margin-left: 9px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    height: 40px;
    padding-left: 40px;
    border-radius: 8px;
    outline-color: #b6b6b6;
    background: var(--formColor);
    color: var(--black);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.login-box .inputWithIcon i {
  position: relative;
  left: 9px;
  top: -35px;
  padding: 7px 10px;
  color: #AAA;
  transition: 0.3s;
}

.login-box .inputWithIcon :focus + i {
  color: var(--primaryColor);
} 

.login-box button[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    width: 270px;
    margin: 20px auto;
    background: var(--primaryColor);
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
}

.login-box button[type="submit"]:active,
.login-box button[type="submit"]:before{
    background: var(--primaryColor);
    color: var(--white);
}

.login-box button[type="submit"]:hover{
  background: #e9944f;
}



/* LOADER */


.loader-container{
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: var(--white);
  }
   
  .loader-container .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border: solid 5px transparent;
    border-top-color: #C325A6;
    border-left-color: #C325A6;
    border-radius: 50%;
    animation: loader 1.4s linear infinite;
  }
   
  .loader-container .loader2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    border: solid 5px transparent;
    border-top-color: #8F8F8F;
    border-left-color: #8F8F8F;
    border-radius: 50%;
    animation: loader2 1.2s linear infinite;
  }

  .loader-container .loader3{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: solid 5px transparent;
    border-top-color: #1B63D0;
    border-left-color: #1B63D0;
    border-radius: 50%;
    animation: loader 1.4s linear infinite;
  }
   
  @keyframes loader{
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
   
  @keyframes loader2{
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes loader3{
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }