<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/login.js"></script>

    <title>Home Page</title>
  </head>

  <body>
    <div class="loader-container">
      <div class="loader"></div>
      <div class="loader2"></div>
      <div class="loader3"></div>
    </div>

    <h1>MI HORARIO</h1>

    <div class="login-box">
      <img class="avatar" src="img/iconUser.svg" />
      <h2>Login</h2>
      <form action="auth" method="post">
        <!--EMAIL-->
        <input type="text" name="gmail" id="gmail" placeholder="Email" required />

        <!--PASSWORD-->
        <input type="password" name="pass" id="pass" placeholder="Password" required />

        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
